


.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
    margin-top: 30px;
}


#hide{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: center;
}

.hide{
    display: none;
}

.show{
    display: block;
}

img{
    height: 200px;
    margin-top: 20px;
}